* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header img {
    max-width: 100px;
    height: auto;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav ul {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.main-nav a {
    color: rgb(0, 0, 0);
    font-size: 1em;
    padding: 8px 12px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.main-nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ecf0f1;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.main-nav a:hover::before {
    visibility: visible;
    width: 100%;
    height: 1px;
}

.main-nav a:hover {
    background-color: #2c76c0;
    color: #ecf0f1;
}

.container {
    margin: auto;
    padding: 10px;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background: -webkit-gradient(linear, left top, right top, from(rgba(37, 37, 37, 0.9)), to(rgba(37, 37, 37, 0.7)));
    background: linear-gradient(to right, rgba(37, 37, 37, 0.9), rgba(37, 37, 37, 0.7));
}


.slide {
    flex: 0 0 100%;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-text {
    position: absolute;
    bottom: 50%;
    left: 20px;
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    max-width: 90%;
}

.slide-text h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;
}

.slide-text p {
    color: #ffffff;
    font-size: 15px;
}

.slider-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.slider-nav a {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slider-nav a:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
}

.slider-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    flex: 0 0 calc(30% - 10px);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #333;
}

.card-content p {
    font-size: 0.9em;
    color: #666;
}


.P1 h1 {
    text-align: center;
    font-size: 3em;
    color: #152F4F;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.P1 h4 {
    text-align: center;
    font-size: 1.5em;
    color: #152F4F;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.P1 p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.P1 h5 {
    text-align: left;
    margin-left: 15px;
    margin-top: 50px;
}

.A1 h1 {
    text-align: center;
    font-size: 3em;
    color: #152F4F;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.A1 h5 {
    text-align: center;
    font-size: 1.2em;
    margin-top: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.A1 h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
}

.A1 h4 {
    text-align: center;
    font-size: 1.5em;
    color: #152F4F;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.A1 P {
    text-align: center;
    font-size: 1.2em;
    margin-top: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.abth h1 {
    font-size: 1em;
    text-align: center;
    margin-top: 50px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #152F4F;
}

.header,
.numbers,
.content {
    text-align: center;
    padding: 20px 0;
}

.numbers {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.numbers div {
    display: inline-block;
    margin: 0 20px;
}

.numbers div span {
    display: block;
    font-size: 2em;
    color: #333;
}

.content {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
    color: #666;
}

.content .section {
    margin-bottom: 40px;
}

.container1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chairman-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.message p {
    flex: 1;
    line-height: 1.6;
    color: #333;
}



.contact-container {
    text-align: center;
    padding: 50px;
}

.contact-container h1 {
    text-align: center;
    font-size: 3em;
    color: #152F4F;
    font-weight: bold;
    margin-bottom: 80px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-details {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.contact-item {
    flex: 1;
    max-width: 300px;
}

.contact-item h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.contact-item p {
    font-size: 1.2em;
    line-height: 1.5;
}


.contact-item a {
    color: #fff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.email a {
    color: #000000;
    /* Change this color as needed */
}

.email a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background: #152F4F;
    color: white;
    padding: 20px;
    margin-top: auto;
    /* Push footer to the bottom */
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    color: white;
    transition: color 0.2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180CB;
}

.footer .about-company i {
    font-size: 25px;
}

.footer .about-company a {
    color: white;
    transition: color 0.2s;
}

.footer .about-company a:hover {
    color: #4180CB;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}